<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <title>Accueil</title>
        <!--CSS -->
        <link rel="stylesheet" href="./CSS/main.css">
        <link rel="stylesheet" href="./CSS/footer.css">
        <link rel="stylesheet" href="./CSS/header.css">

    </head>
    <body>

        <header id="header">
            <nav id="nav">

                <div class="items-nav">

                    <a href="index.html"><img id="logo" src="./images/logo.png"></a>


                    <a href="contact.html">Contact</a>
                    <a href="equipe.html">Equipe</a>
                    <a href="presse.html">Presse</a>
                    <a href="nousrejoindre.html">Nous rejoindre</a>
                    <a href="faq.html">FAQ</a>

                </div>
            </nav>
            <hr>
        </header>   

        <main>
        </main>

        <footer id='footer'>

            <img src="./images/logo-FB.png" id="facebook">

            <a href="https://instagram.com/bond_drone?igshid=10nkl5ci5o03i" target="-blank"><img src="./images/Insta3.png" id="instagram"></a>

        </footer>

    </body>
</html>
